.link {
    text-decoration: none;
}
.card {
    width: 400px;
}

.card .cardImg {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card .cardBody {
    text-align: left;
    font-size: 1.1rem;
}

